.gallery-grid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-6);
  justify-content: center;
}

.gallery-grid > * {
  width: calc((100% - 2 * var(--space-6)) / 3);
}

@media (max-width: 900px) {
  .gallery-grid > * { width: calc((100% - var(--space-6)) / 2); }
}

@media (max-width: 540px) {
  .gallery-grid > * { width: 100%; }
}
